@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400&display=swap');

.container1{
    display: flex;
    width: 100%;
    height: 550%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 6%;
    flex-wrap: wrap;
}
.firstDesc{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstDesctext{
    color: #000;
    font-family: Pretendard,sans-serif;
    font-size: 2vw;
    width: fill-content;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bigOccountLogo{
    width: 50%;
    height: 20%;
}
.secondDesc{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.smallOccountLogo{
    width:26%;
}
.middleText{
    color: #000;
    font-family: Pretendard, sans-serif;
    font-size: 3vw;
    font-weight: 600;
    line-height: normal;
}
.imgTextSort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2%;
}
.smallText{
    color: #000;
    font-family: Pretendard,sans-serif;
    font-size: 1.5vw;
    width: fit-content;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.exSort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2%;
}
.exSmallSort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2%;
}