* {
    margin: 0;
    padding: 0;
}

.container3{
    width: 100%;
    height: 550%;
}
.element-sort3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 540vh;
    margin-top: 2.5vw;
}