* {
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.element-sort{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 7.14%;
    height: 90vh;
}