.amountView{
    display: flex;
    width: 100%;
    height: 170px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--primary, #333);
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.amountView:hover{
    display: flex;
    width: 100%;
    height: 170px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #262626;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.current{
    color: #FFF;
    font-family: 'Pretendard', sans-serif; 
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
.currentMoney{
    color: #FFF;
    font-family: 'Pretendard', sans-serif; 
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}