.amountView{
    display: flex;
    width: 100%;
    height: 36.02%;
    flex-shrink: 0;
    border-radius: 2vw;
    background: #333;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.amountView:hover{
    display: flex;
    width: 100%;
    height: 36.02%;
    flex-shrink: 0;
    border-radius: 2vw;
    background: #262626;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}
.amountView-text{
    width: 49.17%;
    height: 47.65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.current{
    color: #FFF;
    font-family: 'Pretendard', sans-serif; 
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}
.currentMoney{
    color: #FFF;
    font-family: 'Pretendard', sans-serif; 
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}