.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 2vw;
    background: #FFC300;
}
.contact-container:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 2vw;
    background: #D3A202;
}
.contact-sort{
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}
.contact-text{
    color: #FFF;
    font-family: Pretendard,sans-serif;
    font-size: 2.5vw;
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
}
.contact-img{
    width: 25%;
    margin-left: 1vw;
    height: fit-content;
}