.contact-container{
    display: flex;
    width: 100%;
    height: 46.43%;
    border-radius: 2vw;
    background: #FFC300;
}
.contact-container:hover{
    display: flex;
    width: 100%;
    height: 46.43%;
    border-radius: 2vw;
    background: #D3A202;
}
.contact-sort{
    margin-left: 33%;
    display: flex;
    width: 80%;
    flex-direction: row;
    align-items: center;
}
.contact-text{
    color: #FFF;
    font-family: Pretendard;
    font-size: 2.5vw;
    width: max-co;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.contact-img{
    width: 17%;
    margin-left: 1vw;
    height: fit-content;
}