@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@400&display=swap');

.main-header {
    display: flex;
    width: 73.68%;
    justify-content: space-between;
    align-items: center;
}

.log-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100px;
    border: 1px solid #000;
    background: #FFF;
    padding: 10px 20px;
}
.log-in-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100px;
    border: 1px solid #000;
    background: #E4E4E4;
    padding: 10px 20px;
}

.log-in-buttonp {
    color: #000;
    font-family: 'Pretendard', sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}