.container1{
    display: flex;
    width: 100%;
    height: 550%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 6%;
    flex-wrap: wrap;
}
.firstDesc{
    width: 65%;
}
.bigOccountLogo{
    width: 80%;
    height: 20%;
}