.status-div {
    border-radius: 2vw;
    background: #6BC4FF;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  .status-div.primary {
    border-radius: 2vw;
    background: #6BC4FF;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  .status-div.primary:hover {
    border-radius: 2vw;
    background: #65ABD9;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .status-div.secondary {
    border-radius: 2vw;
    background:#4CAF50;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  .status-div.secondary:hover {
    border-radius: 2vw;
    background:#3D8D40;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .status-div.thirdary {
    border-radius: 2vw;
    background: #FF8544;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  .status-div.thirdary:hover {
    border-radius: 2vw;
    background: #C1693A;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .status-div.fourthdary{
    border-radius: 2vw;
    background:  #FF6B6B;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }
  .status-div.fourthdary:hover{
    border-radius: 2vw;
    background:  #B25454;
    width:  35.71%;
    height: 100%;
    flex-shrink: 0;
  }